<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAVI6SfMStFELCKlaJB_o3__UzlhT7T3A</string>
	<key>GCM_SENDER_ID</key>
	<string>501076944499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.malangFinalsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>malangfinals</string>
	<key>STORAGE_BUCKET</key>
	<string>malangfinals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501076944499:ios:5c6aad98d83452eb282c06</string>
</dict>
</plist>